<div class="container">
  <div class="title">
    Are you need a car ?
  </div>
</div>
<div class="container">
  <div class="title">
    <h1>Cars available</h1>
  </div>
  <table mat-table [dataSource]="cars" class="mat-elevation-z8">

    <ng-container matColumnDef="plaque">
      <th mat-header-cell *matHeaderCellDef> Plaque </th>
      <td mat-cell *matCellDef="let element"> {{element.plaque}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="rentPrice">
      <th mat-header-cell *matHeaderCellDef> Rent Price  </th>
      <td mat-cell *matCellDef="let element"> {{element.rentPrice | currency:'BRL':true:'1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
<!-- Action Column -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/carRent/{{element.id}}/false">
          <i class="material-icons edit">
            edit
          </i>
        </a>
        <a routerLink="/carRent/{{element.id}}/true">
          <i class="material-icons delete">
            delete
          </i>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button color="accent" routerLink="/carRent">Add new car</button>

</div>
