table {
  width: 99%;
  margin: 10px;
}
.edit {
  color :black;
  margin-right: 10px;
}

.delete {
  color:red
}

button{
  margin: 10px;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
